<div class = "well">
  <b><%=user_comment.user.full_name%></b><br>
  <%= user_comment.body %>
  <%= render :partial => "likes/index", :locals => {comment: user_comment} %>
 
 <% if current_user == user_comment.post.user%>
  	<%=link_to "Delete Comment", post_comment_path(user_comment.post, user_comment), method: :delete, data:{confirm: "Are you sure your want to delete this comment?", remote: true}%>
   <%end%>
</div>