<p><h1>Welcome to BLOG S.C.B <%= @resource.email %>!</h1></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account on Blog SCB', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
